/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:#000;
    color: #fff;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: justify;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 90%;
	max-width: 1200px;
    background-size: cover;
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.contenedor.header {
    
    border: 3px solid #555555;
}

.barra-navegacion ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion li {
    list-style: none;
    display: inline-block;
}



.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

.barra-navegacion a:hover {
    color: #3dff3e;
    border-bottom: 1px solid currentcolor;
}

.skills{
    text-align: center;
    margin-top: 340px;
    
}
.skills i{
    letter-spacing: 30px;

}
.redes{
    margin-top: 80px;
    text-align: center;
}
.redes i{
    letter-spacing: 30px;
}
.contacto {
    text-align: center;
    margin-top: 80px;
}
.contenido-descripcion {
    margin-top: 180px;
   
    display: flex;
   
    align-items: center;
}



.contenido-descripcion .titulo span:first-child {
    font-size: 50px; 
    display: block;
    font-weight: 300;
    text-align: center;
}

.contenido-descripcion .titulo span:last-child {
    display: block;
    font-weight: 900;
    font-size: 70px;
    text-align: center  ;
}



